:root {
--dark: rgb(27, 28, 54);
--primary: rgba(124, 198, 254, 1);
--light: rgba(229, 234, 255, 1);
--secondary: rgba(176, 142, 162, 1);
--third: rgba(224, 141, 172, 1);
}

button {
	margin: 8px;
	background-color: var(--primary);
	border: none;
	color: var(--dark);
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: lighter;
}
