:root {
  --primary: #3d405b;
  --secondary: #81b29a;
  --third: #e07a5f;
  --text-dark: rgb(27, 28, 54);
  --text-light: #f4f1de;
  --background-one: rgb(238, 242, 230);
  --background-two: rgba(129, 179, 154, 0.5);
  --background-three: #f2cc8f;
}

button {
  margin: 8px;
  background-color: var(--primary);
  border: none;
  color: var(--text-light);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--primary);
}

button:hover {
  background-color: var(--secondary);
  color: var(--text-dark);
}

button:focus {
  background-color: var(--secondary);
  outline: none;
}

body {
  /*background: linear-gradient(90deg, #afdbee, #36a8d9, #36a8d9);*/
  background: var(--background-one);
}

a:link {
  text-decoration: none;
  color: var(--secondary)
}

a:visited {
  text-decoration: none;
  color: var(--third)
}

input {
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
  background: var(--background-two);
}

input:focus {
  outline: none;
  background: #edffe6;
}
